.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-block {
    border: 1px solid whitesmoke;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    width: 300px;
}