.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-image {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: 1px solid whitesmoke;
    height: 300px;
    width: 100%;
}

.description-block {
    border: 1px solid whitesmoke;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}