.TestContainer {
    display: flex;
    justify-content: center;
    margin: 50px;
   width: 30%;
   }

.TestContainer__content{
    padding: 10px;
   
}

.TestContainer__btns {
    padding: 15px;

    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TestContainer__inputs {
  display: block;
  
}

@media screen and (max-width: 900px) {
 .TestContainer {
     margin: 0;
     width: 100%;
 }
}